* {
  padding: 0;
  margin: 0;
  line-height: 1;
  border: none;
  outline: none;
  text-decoration: none;
  color: #000;
}

ul,li,ol {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  height: 80px;
  font-family: 'Inconsolata', monospace;
  padding: 20px 60px;

  &__logo-text {
    text-transform: uppercase;
    // padding: 2px 28px;
    font-size: 30px;
  }

  &__links-list {
    display: flex;
    word-spacing: 10px;

    &-item {
      padding: 2px 28px;
      cursor: pointer;
      text-transform: uppercase;
      &:last-child {padding-right: 0px;}
      // &:hover {
      //   color: red;
      // }
    }
  }
}

// @media only screen and (min-width: 1440px){
//   header {
//     margin: 0 auto;
//     max-width: 1440px
//   }
// }

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 50px 0;
}

.main__main-article {
  // align-items: center;
  // margin: 0 auto;
  width: calc(100% - 120px);
}

.main__main-article-img {
  width: 100%;
}

.main__main-article-wrap {
  padding: 50px;
}


.main__articles-list-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 100px 0 100px;
}

.main__articles__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main__articles__li {
      width: 45%;
      margin-top: 100px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;

  .footer__rules {
    margin-left: 150px;
}
}