* {
  padding: 0;
  margin: 0;
  line-height: 1;
  border: none;
  outline: none;
  text-decoration: none;
  color: #000;
}

ul,li,ol {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  height: 80px;
  font-family: 'Inconsolata', monospace;
  padding: 20px 60px;
  background-image: url(./img/IMAGE.png);

}

// .header {
  
// }

// .header__nav {
  
// }

// .header__logo {
  
// }

// .header__logo-text {
  
// }

.header__links-list {
  display: flex;
  // word-spacing: 10px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 120px;
}

.header__links-list-item {
  font-size: 14px;
  font-family: "Dosis";
  color: rgb(255, 255, 255);
  line-height: 2.071;
  // position: absolute;
  left: 10.937px;
  top: 45.723px;
  z-index: 174;
  padding: 2px 28px;
}


.header__btn-app {
  font-size: 14px;
  font-family: "Dosis";
  color: rgb(35, 49, 72);
  background-color: rgb(0, 255, 240);
  line-height: 3.571;
  position: absolute;
  left: 1280.937px;
  top: 36.253px;
  z-index: 170;
  border-radius: 10%;
  width: 160px;
  height: 40px;
}

.choose_a_better_way_ {
  font-size: 39.431px;
  font-family: "Dosis";
  color: rgb(255, 255, 255);
  line-height: 1.25;
  position: absolute;
  left: 481.937px;
  top: 311.293px;
  z-index: 165;
}

.cras_ultricies_ligul {
  font-size: 14px;
  font-family: "Dosis";
  color: rgb(151, 164, 190);
  line-height: 2.071;
  position: absolute;
  left: 474.937px;
  top: 444.81px;
  width: 408px;
  height: 72px;
  z-index: 164;
}

.btn__reach {
  font-size: 14px;
  font-family: "Dosis";
  color: rgb(255, 255, 255);
  background-color: #223047;
  line-height: 2.071;
  position: absolute;
  left: 674px;
  top: 551px;
  width: 144px;
  height: 42px;
  z-index: 162;
  border-radius: 10%;
  border: solid;
}

.btn__download {
  font-size: 14px;
  font-family: "Dosis";
  color: rgb(35, 49, 72);
  background-color: rgb(0, 255, 240);
  position: absolute;
  left: 479px;
  top: 552px;
  width: 169px;
  height: 40px;
  z-index: 160;
  border-radius: 10%;
}

.Mask {
  background-color: rgb(34, 48, 71);
  opacity: 0.8;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 700px;
  z-index: 158;
}
